body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 150px;
    font-style: italic;
    color: pink;
    text-decoration: rosybrown;
    text-align: center;
}

li, a {
    list-style-type: none;
    text-decoration: none;
    color: rgb(243, 167, 179);
    font-size: 160 px;
    text-decoration: rosybrown;
    text-align: center;
}