body {
    margin: 0;
    padding: 0;
}

ul, li, a {
    list-style-type: none;
    text-decoration: none;
    color: rgb(243, 167, 179);
    font-size: 160 px;
    margin-top: 5vh;
}

.container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


button {
  background-color: royalblue;
  border: none;
  color: wheat;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  border-radius: 15px;
}

button:hover {
    background-color: rgb(169, 183, 224);
}

#gameCount {
        margin-top: 10px;
}

a, #current, #points, #result {
    margin-top: 5px;
    font-family: monospace;
    font-size: 2rem;
}

#home {
    font-size: 1rem;
}

.idcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}